{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}

<div class="max-w-prose px-12">
  {# Publish Button#}
  {% if user.is_authenticated %}
  <a class="btn btn-primary m-4" href="{% url 'blog:create'  %}">NEW</a>
  {% endif %}

  {# Blog List #}
  {% for blog in blogs %}
  <div>
    <a href=" {% url 'blog:detail' blog.id %}">
      <h2>
        {{ blog.text }}
      </h2>
    </a>
    <p> {{ blog.created_at|timesince|upto:',' }}前</p>
  </div>
  {% endfor %}

  {# Pagination #}
  <div class="btn-group">

    {% if page_obj.has_previous %}
    <a class="btn" href="?page={{ page_obj.previous_page_number }}">
      &laquo;</a>
    {% endif %}

    {% for page in paginator.page_range %}
    <a class="btn{% if page == page_obj.number %} btn-active{% endif %}" href='
        ?page={{ page }}'>{{ page }}</a>
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn" href="?page={{ page_obj.next_page_number }}">
      &raquo;</a>
    {% endif %}
  </div>
</div>
{% endblock %}
