{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Micro Blog</title>
  </head>
  <body>
    {% include 'navi.html' %}

    <!-- Main Content -->
    <div class="container">
      {% if messages %}
      <ul class="list-unstyled">
        {% for message in messages %}
        <li {% if message.tags %} {% endif %}>
          {{ message }} Close button
          <button
            type="button"
            class="close"
            aria-label="Close"
            data-dismiss="alert"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% block content %} {% endblock%}
    </div>
  </body>
</html>
