<nav>
  <div>
    <div>
      <a href="{% url 'blog:index' %}">Micro Blog</a>
    </div>
    <div>
      <ul>
        <li>
          <a href="{% url 'blog:index' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'blog:index' %}">{{ user.username }}</a>
        </li>
        <li>
          <a href="{% url 'blog:logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'blog:login' %}?next={{ request.path }}">Login</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
